@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
      margin: 0;
      padding: 10;
      height: 100%;
      flex: 1;
      background-image: url('bg.png');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      color: white;
      padding: 20px;
    }

    header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top: 0;
  }
  
    .logo {
      font-size: 32px;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
  }
  
  .navbar a {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      margin-left: 40px;
      position: relative;
    }
    
    .navbar a:hover {
      color: #ccc;
    }
    
    .navbar a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    
    .navbar a:hover::after {
      opacity: 1;
    }

    h1 {
        font-weight: 600;
        font-size: 8em;
        text-align: center;
    }

@keyframes grow-progress {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

#progress {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 1em;
    background: rgb(16, 119, 255);

    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: scroll(block nearest);
}

:root {
    --card-height: 30vw;
    --card-margin: 4vw;
    --card-top-offset: 1em;
    --numcards: 3;
    --outline-width: 0px;
}

#cards {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset)); 
    margin-bottom: var(--card-margin); 
}

#card_1 {
    --index: 1;
}

#card_2 {
    --index: 2;
}

#card_3 {
    --index: 3;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

    @scroll-timeline cards-element-scrolls-in-body {
        source: selector(body);
        scroll-offsets:

            selector(#cards) start 1,
        
            selector(#cards) start 0
        ;
        start: selector(#cards) start 1; 
        end: selector(#cards) start 0;
        time-range: 4s;
    }

    .card {
        --index0: calc(var(--index) - 1); 
        --reverse-index: calc(var(--numcards) - var(--index0)); 
        --reverse-index0: calc(--reverse-index - 1); 
    }

    .card__content {
        transform-origin: 50% 0%;
        will-change: transform;

        --duration: calc(var(--reverse-index0) * 1s);
        --delay: calc(var(--index0) * 1s);

        animation: var(--duration) linear scale var(--delay) forwards;
        animation-timeline: cards-element-scrolls-in-body;
    }

    @keyframes scale {
        to {
            transform:
                scale(calc(
                    1.1
                    -
                    calc(0.1 * var(--reverse-index))
                ));
        }
    }
}

header,
    main {
        width: 80vw;
        margin: 0 auto;
    }

    #cards {
        list-style: none;
        outline: calc(var(--outline-width) * 10) solid blue;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(var(--numcards), var(--card-height));
        gap: var(--card-margin);
        --numcards: 3;
        view-timeline-name: --cards-element-scrolls-in-body;
    }

    .card__content {
        box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
        background: rgb(255, 255, 255);
        color: rgb(10, 5, 7);
        border-radius: 1em;
        overflow: hidden;
        
        display: grid;
        grid-template-areas: "text img";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        align-items: stretch;

        outline: var(--outline-width) solid lime;
        --start-range: calc(var(--index0) / var(--numcards) * 100%);
        --end-range: calc((var(--index)) / var(--numcards) * 100%);

        animation: linear scale forwards;
        animation-timeline: --cards-element-scrolls-in-body;
        animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
    }

    .card__content > div {
        grid-area: text;
        width: 80%;
        place-self: center;
        text-align: left;

        display: grid;
        gap: .5em;
        place-items: start;
    }

    .card__content > figure {
        grid-area: img;
        overflow: hidden;
    }

    .card__content > figure > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    h1 {
        font-weight: 600;
        font-size: 5em;
    }

    h2 {
        font-weight: 300;
        font-size: 2.5em;
    }

    p {
        font-weight: 50;
        line-height: 1.42;
        text-align: center;
    }

    aside {
        width: 50vw;
        margin: 0 auto;
        text-align: left;
    }

    aside p {
        margin-bottom: 1em;
    }

    .column {
        flex-basis: 50%; /* Adjust the width of each column as needed */
    }

    input[type="checkbox"],
    input[type="radio"]{
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.65rem;
    }

    .card {
        --index0: calc(var(--index) - 1); /* 0-based index */
        --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
        --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
    }

    @keyframes scale {
        to {
            transform:
                scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
        }
    }

    #studentnumber::placeholder {
        color: gray; /* Initial color when placeholder is shown */
    }
    
    #studentnumber:not(:placeholder-shown) {
        color: black; /* Change the text color when user inputs text */
    }
    
    #colleges {
        color: gray; /* Initial color when no option is selected */
    }
    
    #colleges:not(:placeholder-shown) {
        color: black; /* Change the text color when user selects a college */
    }

    .btn {
  
        background-color: #D4D8D8;
        border: 2px solid #464E4E;
        box-sizing: border-box;
        border-radius: 24px;
        padding: 16px 16px 16px 16px;
        text-align: center;
        font-weight: 800;
        margin-top: 20px;
        
        width: 141px;
        height: 56px;
        left: 32px;
        top: 88px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;
        cursor: pointer;
        transition: 0.16s ease-out;
      
        padding-left: 45px;
        cursor: pointer;
      }
          
      .btn:hover {
        background: #800000;
        border: 1px solid #759593;
        box-sizing: border-box;
        box-shadow: 0px 0px 0px 2px #464E4E;
        border-radius: 24px;
      }
    
    .logo {
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 1rem;
    }
    
    .logo img {
        height: 10rem;
        margin-right: 1rem;
    }
    